<%= stylesheet_link_tag 'style' %>
<div class='wrapper'>
<div class='container'>
  <%= render :partial => "/layouts/menu"%>

<h2><%= t('new', :scope => 'forem.admin.category') %></h2>

<%= render "form" %>
</div>
<%= render :partial => "/layouts/footer"%>
</div>
