<%= stylesheet_link_tag 'style', :media => 'all' %>
<div class='wrapper'>
<div class='container'>
  <%= render :partial => "/layouts/menu"%>

<h2><%= t("forem.admin.group.new") %></h2>

<%= render "form" %>
</div>
<%= render :partial => "/layouts/footer"%>
</div>
