= stylesheet_link_tag "welcome.css.scss", :media => "all"
= javascript_include_tag "jquery.flexslider-min"

.wrapper
  .container
    = render "/layouts/menu"
    #events.container-left
      #donations
        %a{ :href => 'support'}
          .title Donations
        %a{ :href => 'support'}
          %img{ :src => 'http://www.wisdomsun.org/images/btn_donations_main.png', :id => 'donationimage'}
      %p
      %a{ :href => '/events' }
        .title Upcoming Events
      - @events.each do |event|
        %a{ :href => event_path(event), :class => 'no-underline'}
          .item
            .item-title= event.name
            .item-date= event.date
    .container-right
      #slider.flexslider
        %ul.slides
          - @sliders.each do |slider|
            %li
              %a{:href => slider.link}
                %img{ :src => slider.picture.url }
              .slide-name= slider.name
      -if @quote 
        #quotes.section
          %a{ :href => 'quotes'}
            .subtitle Notes &amp; Quotes
          .quote-text 
            .quote="#{@quote.quote}"
            .quote-author=" - #{@quote.source}"
      #about-us.section
        %a{ :href => 'categories/about/about' }
          .subtitle About Us
        %a{ :href => 'categories/about/about_ari_goldfield'}
          .about-pic= image_tag "welcome/ari.jpg"
        %a{ :href => 'categories/about/about_rose_goldfield'}
          .about-pic= image_tag "welcome/rose.jpg"
        .about-text
          %p Wisdom Sun is about bringing meditation teachings home: Home to our own culture and locale; home to our daily life; home to our mind, body, and heart.
          %p{:id => 'read-more', :class => 'read-more'}= link_to "Read more...", 'categories/about/about'
      -if @around_the_web_posts
        #around-the-web.section
          %a{ :href => '/around_the_web' } 
            .subtitle Around the Web
          - @around_the_web_posts.each do |post|
            .item
              =link_to post.title, post.external_link

  = render "/layouts/footer"

= javascript_include_tag "welcome"
