= stylesheet_link_tag "flexslider", :media => "all"
= stylesheet_link_tag "welcome.css.scss", :media => "all"
= javascript_include_tag "jquery.flexslider-min"

.wrapper
  .container
    = render "/layouts/menu"
    #events.container-left
      %a{ :href => '/events' }
        .title Events
      - @events.each do |event|
        .item
          .item-title= event.name
          .item-date= event.date
    .container-right
      #slider.flexslider
        %ul.slides
          %li
            %img{ :src => '/assets/welcome/slide1.jpg' }
          %li
            %img{ :src => '/assets/welcome/slide2.jpg' }
      #quotes.section
        .subtitle Notes &amp; Quotes
        .quote-text 
          "There is a sense of joy in being part of this knowledge and that sense of joy, which triggers the transition from knowledge to wisdom, is compassion, or unconditional love."
          .quote-author - Chogyam Trungpa Rinpoche 
      #about-us.section
        .subtitle About Us
        %a{ :href => 'categories/about/about_ari_goldfield'}
          .about-pic= image_tag "welcome/ari.jpg"
        %a{ :href => 'categories/about/about_rose_goldfield'}
          .about-pic= image_tag "welcome/rose.jpg"
        .about-text
          %p Wisdom Sun is about bringing meditation teachings home: Home to our own culture and locale; home to our daily life; home to our mind, body, and heart.
          %p{:id => 'read-more', :class => 'read-more'}= link_to "Read more...", '/about'
      #around-the-web.section
        %a{ :href => '/aroundtheweb' } 
        .subtitle Around the Web
        .text
          Text

  = render "/layouts/footer"

= javascript_include_tag "welcome"
