= stylesheet_link_tag "welcome.css.scss", :media => "all"
= javascript_include_tag "jquery.flexslider-min"

.wrapper
  .container
    = render "/layouts/menu"
    #events.container-left
      .homepage-share= render "/layouts/share"
      %p
      %a{ :href => '/events' }
        .title Upcoming Events
      - @events.each do |event|
        %a{ :href => event_path(event), :class => 'no-underline'}
          .item
            .item-title= event.name
            .item-date= event.date
    .container-right
      #slider.flexslider
        %ul.slides
          - @sliders.each do |slider|
            %li
              %a{:href => slider.link}
                %img{ :src => slider.picture.url }
              %a{ :href => slider.link }
                .slide-name= slider.name
      -if @quote 
        #quotes.section
          %a{ :href => 'quotes'}
            .subtitle Notes &amp; Quotes
          .quote-text 
            .quote="#{@quote.quote}"
            .quote-author=" - #{@quote.source}"
      #about-us.section
        %a{ :href => 'categories/about/about' }
          .subtitle About Us
        %a{ :href => 'categories/about/ari_goldfield'}
          .about-pic= image_tag "welcome/ari.jpg"
        %a{ :href => 'categories/about/rose_taylor_goldfield'}
          .about-pic= image_tag "welcome/rose.jpg"
        .about-text
          %p Wisdom Sun is about bringing meditation teachings home: Home to our own culture and locale; home to our daily life; home to our mind, body, and heart.
          %p{:id => 'read-more', :class => 'read-more'}= link_to "Read more...", 'categories/about/about'
      -if @around_the_web_posts
        #around-the-web.section
          %a{ :href => '/around_the_web' } 
            .subtitle Around the Web
          - @around_the_web_posts.each do |post|
            %li.atw_item
              =link_to post.title, post.external_link, target: "_blank"
      #mailing-list.section.small
        %div 
          %table{ border:"0", cellspacing:"0", cellpadding:"3"  }
            %tr
              %td{ style:"font-weight: bold; font-family:Arial; font-size:12px; "}
                Join Our Mailing List
            %tr
              %td{ align:"center" }
                %form{ name:"ccoptin", action:"http://visitor.r20.constantcontact.com/d.jsp", target:"_blank", method:"post", style:"margin-bottom:2;"}
                  %input{ type:"hidden", name:"llr", value:"odmka8eab"}
                  %input{ type:"hidden", name:"m", value:"1104712904814"}
                  %input{ type:"hidden", name:"p", value:"oi"}
                  %font{ style:"font-weight: normal; font-family:Arial; font-size:12px; color:#000000;"}
                    Email:
                  %input{ type:"text", name:"ea", size:"20", value:"", style:"font-size:10pt; border:1px solid #999999;"}
                  %input.submit{ type:"submit", name:"go", value:"Go",  style:"font-family:Verdana,Geneva,Arial,Helvetica,sans-serif; font-size:10pt;"}
        
        %div{ align:"center", style:"padding-top:5px;"}
          %img{ src:"https://imgssl.constantcontact.com/ui/images1/safe_subscribe_logo.gif", border:"0", width:"168", height:"14", alt:""}

        %div{ align:"center", style:"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#999999;margin-bottom:20px;"}
          For 
          %a{ href:"http://www.constantcontact.com/jmml/email-marketing.jsp", style:"text-decoration:none;font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#999999;", target:"_blank"}
            Email Marketing
          you can trust
        
      #donations.section.small
        %a{ :href => 'support'}
          .title Donations
        %a{ :href => 'support'}
          %img{ :src => 'http://www.wisdomsun.org/images/btn_donations_main.png', :id => 'donationimage'}

  = render "/layouts/footer"

= javascript_include_tag "welcome"
