= stylesheet_link_tag "events", :media => "all"
.wrapper
  .container
    = render "/layouts/menu"
    .header
      .header-title Events
    = render "/layouts/share"
    .content
      - @events.each do |event|
        .content-box
          .img-box
            %img{:src => event.picture.url(:medium)}
          .event-box
            .title= link_to "#{event.name}", event_path(event)
            .date= event.date
            .location= event.location
  = render "/layouts/footer"
