= stylesheet_link_tag "events", :media => "all"
.wrapper
  = render "/layouts/menu"

  .container
    .header
      .header-title Events
    .content
      .description-box
        .event-box
          %h2 
            =@event.name
          %p
            %strong
              =@event.date
          %p
            %strong 
              =@event.time
          %p
            %strong
              =@event.location
          %p
            #description= simple_format(@event.description)
          = link_to 'Back to event list', events_path
  = render "/layouts/footer"
