= stylesheet_link_tag "events", :media => "all"
.wrapper
  .container
    = render "/layouts/menu"
    .header
      .header-title Events
    .content
      .content-text
        %h2 
          =@event.name
        %p
          %strong
            =@event.date
        %p
          %strong 
            =@event.time
        %p
          %strong
            =@event.location
        %p
          #description= @event.description.html_safe
        = link_to 'Back to event list', events_path
  = render "/layouts/footer"
