= stylesheet_link_tag   "books", :media => "all"
.wrapper
  .container
    = render "/layouts/menu"
    .header
      .header-title Books
    = render "/layouts/share"
    .content
      - @books.each do |book|
        .content-box
          -# %a{:href => book_path(book.id)}
          .img-box
            %img{:src => book.picture.url(:medium)}
          .text-box
            .title= book.title    
            .buy= link_to "Buy", book.purchase_url
            .author= book.author
            .details= simple_format(book.description)
  = render "/layouts/footer"
