= stylesheet_link_tag   "books", :media => "all"
.wrapper
  = render "/layouts/menu"

  .container
    .header
      .header-title Books
    .content
      - @books.each do |book|
        .content-box
          -# %a{:href => book_path(book.id)}
          .img-box
            -# %img{:src => '/assets/books/' + book.picture}
          .text-box
            .title= book.title    
            .buy= link_to "Buy", book.purchase_url
            .author= book.author
            .details= book.description
  = render "/layouts/footer"