= stylesheet_link_tag "photos"
= stylesheet_link_tag "jquery.fancybox-1.3.4.css"

.wrapper
  .container
    = render "/layouts/menu"
    .header
      .header-title 
        = "#{@album_name} Photos"
    = render "/layouts/share"
    .content
      .text-box "#{@album_desc}"
      .back_link
        =link_to "Back to Albums", albums_path
      - @photos.each do |photo|
        %a{ :class => "fancybox content-box img", :id => "#{photo.id}", :href => "#{photo.picture.url}", :rel => "group1", :title => "#{photo.description}"}
          .fancybox-picture
            %img{ :src => "#{photo.picture.url}", :alt => ""}
    .back_link
      =link_to "Back to Albums", albums_path
  = render "/layouts/footer" 
