= stylesheet_link_tag "photos"
.wrapper
  = render "/layouts/menu"

  .container
    .header
      .header-title "#{@album_name}" Photos
    .content
      - @photos.each do |photo|
        .content-box
          .photo-img-box
            %img{:src => photo.picture.url}
          -# .text-box
            -# "#{photo.description}"
  = render "/layouts/footer" 

