.wrapper

  .container
    = render "/layouts/menu"

    .header
      .header-title Support
    = render "/layouts/share"
    .content
      .content-text
        Ari and Rose, Wisdom Sun’s main teachers, give their teachings at the lowest cost possible while ensuring the viability of their work. Currently, all the revenue from teaching, writing, and individual work with students that Ari and Rose earn goes to Wisdom Sun. We still need additional donations to provide sufficient financial support to enable Ari and Rose to teach and guide the Wisdom Sun community. It would also be very helpful to have the funds to establish and grow the community and to assist those on low incomes in receiving the teachings.
        <br/>
        <br/>
        We do not hire administrative support, but rely on the assistance of students, friends, and board members who volunteer their time to help the community. We keep all other operating expenses at a minimum.
        <br/>
        <br/>
        Please help us if you can. We welcome financial donations of any size, at any time. We would also like to encourage you to consider making recurring monthly donations, which would help generate a regular and reliable income stream.
        <br/>
        <br/>
        Wisdom Sun is a non-profit organization, incorporated in California and overseen by a board of directors.  It has 501(c)(3) non-profit status with the IRS, so all donations are fully tax-deductible.
        <br/>
        <br/>
        If you have any questions, please contact  info@wisdomsun.org
        <br/>
        <br/>
        <br/>

        %strong= "Make a Donation Online with PayPal"
        <br/>
        <br/>
        Wisdom Sun uses the PayPal system for online payments. You can use your credit card or link the free PayPal account to your bank account. You can also make automatically recurring donations through Paypal. Please click the button below to begin the PayPal donation process.
        <br/>
        <br/>

        <form action="https://www.paypal.com/cgi-bin/webscr" method="post"> 
        <input name="cmd" type="hidden" value="_s-xclick" /> 
        <input name="hosted_button_id" type="hidden" value="FWC7239ZBJ6KJ" /> 
        <input alt="PayPal - The safer, easier way to pay  online!" name="submit" src='/assets/contact/btn_donations_onetime.png' type="image" /> 
        <img src="https://www.paypalobjects.com/WEBSCR-640-20110429-1/en_US/i/scr/pixel.gif" border="0" width="1" height="1" /> 
        </form>
        <br/>

        For Recurring donations, use the form below:
        <br/>
        <br/>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post"> 
        <input name="cmd" type="hidden" value="_s-xclick" /> <input name="hosted_button_id" type="hidden" value="YFXSLJC8M6LDQ" />
        <select name="os0"> <option value="Option 1">Option 1 : $200.00USD - monthly</option> 
        <option value="Option 2">Option 2 : $100.00USD - monthly</option> <option value="Option 3">Option 3 : $50.00USD - monthly</option> 
        <option value="Option 4">Option 4 : $25.00USD - monthly</option> <option value="Option 5">Option 5 : $10.00USD - monthly</option> 
        </select>
        <br/>
        <input name="currency_code" type="hidden" value="USD" /> 
        <br/>
        <input alt="PayPal - The safer, easier way to pay  online!" name="submit" src="/assets/contact/btn_donations_recurring.png" type="image" /> 
        <img src="https://www.paypalobjects.com/WEBSCR-640-20110429-1/en_US/i/scr/pixel.gif" border="0" width="1" height="1" />
        </form><form action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <br/>
        <br/>

        %strong= "Make a Donation by Check"
        <br/>
        <br/>
        Checks can be made payable to “Wisdom Sun”, and sent to:
        <br/>
        <br/>

        <em>
        Rose Taylor Goldfield<br/>Wisdom Sun<br/>601 29th Street<br/>San Francisco, CA 94131<br/>USA
        </em>
        <br/>


  = render "/layouts/footer"
