<%= stylesheet_link_tag 'style' %>
<div class='wrapper'>
<div class='container'>
  <%= render :partial => "/layouts/menu"%>

<h2><%= t("forem.topic.edit", :subject => @topic.subject) %></h2>

<%= render "form" %>
</div>
<%= render :partial => "/layouts/footer"%>
</div>
