.menu 
  .menu-container
    .flash-container
      .flash-notice= notice || flash[:notice] 
      .flash-alert= alert || flash[:alert] 
    .menu-logo-container
      .logo= image_tag "logo.png"
      .menu-title 
    .menu-item-container
      .menu-category
        = link_to 'Home', '/', :class => 'menu-item', :id => 'menu-home'
      #cat-about.menu-category
        = link_to 'About', '/categories/about/about', :class => 'menu-item', :id => 'menu-about'
        .menu-dropdown
          = link_to '/categories/about/about' do
            .drop-top.drop-item= "About Wisdom Sun"
          = link_to '/categories/about/about_ari_goldfield' do
            .drop-item= "Ari Goldfield"
          = link_to '/categories/about/about_rose_goldfield' do
            .drop-bottom.drop-item= "Rose Taylor Goldfield"
      .menu-category
        = link_to 'Events', '/events', :class => 'menu-item', :id => 'menu-events'
      .menu-category
        = link_to 'Books', '/books', :class => 'menu-item', :id => 'menu-books'
      .menu-category
        = link_to 'Photos', '/albums', :class => 'menu-item', :id => 'menu-photos'
      .menu-category
        = link_to 'Downloads', '/categories/3', :class => 'menu-item', :id => 'menu-downloads'
      .menu-category
        = link_to 'Bulletin Board', '/bulletin', :class => 'menu-item', :id => 'menu-bulletin'
      #cat.menu-category
        = link_to 'Other', '/categories', :class => 'menu-item', :id => 'menu-category'
        .menu-dropdown
          - Category.all.each.with_index do |category,index|
            - first_page = category.other_pages.first
            - if index == 0
              = link_to otherPage_path(first_page) do
                .drop-top.drop-item= "#{category.name}"
            - elsif index == Category.all.size - 1
              = link_to otherPage_path(first_page) do
                .drop-bottom.drop-item= "#{category.name}"
            - else
              = link_to otherPage_path(first_page) do
                .drop-item= "#{category.name}"
      .menu-category
        = link_to 'Support', '/support', :class => 'menu-item', :id => 'menu-support'
      .menu-category
        = link_to 'Contact', '/contact', :class => 'menu-item', :id => 'menu-contact'
